:root{
    --dark: #000a36;
}
body{
    overflow:hidden;
    font-family: Helvetica, Arial, sans-;
    margin: 0;
    padding: 0;
    background: var(--dark);
    display:flex;
    flex-direction: column;
    height:100vh;
}
#logo{
    width: 100%;
    display:flex;
}
#logo img{
    margin: 20px auto;
    width:15%;
}
#app{
    position: relative;
    min-width:500px;
    margin: auto;
    background: #ffffff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 2px 4px 94px #13215b, 0px -7px 120px #6e0ef996;
}
h1{
    color: white;
    background: #059afd;
    padding: 20px 30px 20px 30px;
    border-radius: 50px 0 0 50px;
}

h2{
    text-align: center;
    flex: 1;
    font-size: 56px;
    color: #13215b;
}
span{
    padding: 0 20px 0 0;
    font-size: 20px;
    background: white;
}
input{
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    outline: none;
    border: 1px solid #ffffff;
    background: #fff;
    border-radius: 0 50px 50px 0;
    box-shadow: 4px 4px 18px #0b17483b;
    width: 10%;
}

.flex{
    
    top:-25%;
    position:absolute;
    right:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
button{
    overflow: hidden;
    position:relative;
    margin:0;
    padding: 20px 40px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background: white;
    outline:none;
    transition:.2s;
   
}
button::after{
    content: '';
    position: absolute;
    right: 0;
    top: -37%;
    transform: translate(0, 100%);
    width: 2px;
    height: 60%;
    background: #efeff4;
}
button:last-child::after {
    display:none;
}
button::before {
    content: '';
    position: absolute;
    left:  0;
    bottom: 0px;
    transform: translateX(-150%) skewX(45deg);
    width: 90%;
    height: 100%;
    background: #bdf0ff65;
    filter:blur(9px);
    
    z-index: 1;
}
button:hover::before, button:active::before{
    animation: x .9s linear;
}
@keyframes x{
    100%{
        transform: translateX(150%) skewX(45deg) ;
    }
}
@keyframes big{
    0%{
        transform: scale(1) ;
    }
    50%{
        transform: scale(1.2) ;
    }
    100%{
        transform: scale(1) ;
    }
}

button:hover::after{
    display:none;
}
button:hover{
    background:#059afd;
    color:#fff;
}

.onright{
    box-shadow: 7px -3px 30px #17135f30;
    display: flex;
    position: absolute;
    right: 0;
    bottom:-14%;
}
.out{
    min-width: 80px;
    font-size: 80px;
    color: #fff;
    display: inline-block;
    line-height: 1em;
    background: #059afd;
    border-radius: 100%;
    padding: 20px;
}

/* ========================================================== */


.quick-alo-ph-circle {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 50px;
    right: 50px;
    border: 2px solid #00A1FF;
    background-color: transparent;
    border-radius: 100%;
    opacity: .1;
    animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    transform-origin: 50% 50%;
}

.quick-alo-ph-circle-fill {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 80px;
    right:  80px;
    background-color: rgba(0, 161, 255, 0.5);
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .1;
    animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    transform-origin: 50% 50%;
}

.quick-alo-ph-img-circle {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 100px;
    right: 100px;
    background: #00A1FF;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .99;
    animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    transform-origin: 50% 50%;
    font-size: 20px;
    line-height: 62px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

@keyframes quick-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@keyframes quick-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@keyframes quick-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}


/* .bounce-enter-active {
    animation: bounce-in .5s;
  }
 
  @keyframes bounce-in {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  } */






  @media (max-width: 740px){
      #logo img{
          margin-top:10%;
          width: 70%;
      }
    #app{   top:20%;
            margin: 0;
    min-width: 40px;
    border-radius: 0px;
        
    }
    .out{
        min-width: 50px;
        font-size: 50px;
    }
    .onright{
        right: auto;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0%);
    }
      input{
             padding: 14px;
    flex: 1;
}
      h1{
              text-align: center;
    flex: 2;
    font-size: 20px;}
      h2{
      font-size:40px}
  }
